<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/talkwave_high_resolution_logo_transparent__1_"
        android:label="@string/TalkWave"
        android:roundIcon="@drawable/talkwave_high_resolution_logo_transparent__1_"
        android:supportsRtl="true"
        android:theme="@style/Theme.MessengerApp"
        tools:targetApi="31">
        <activity
            android:name=".startPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".calling_page"
            android:exported="true">
        </activity>

        <activity
            android:name=".callinglistpage"
            android:exported="false">
        </activity>

        <activity
            android:name=".chatingpage"
            android:exported="false">
        </activity>

        <activity
            android:name=".contactlistpage"
            android:exported="false">
        </activity>
        <activity
            android:name=".inboxPage"
            android:exported="false">
        </activity>
        <activity
            android:name=".loginPage01"
            android:exported="false">
        </activity>
        <activity
            android:name=".loginPage02"
            android:exported="false">
        </activity>
        <activity
            android:name=".onboardingPage01"
            android:exported="false">
        </activity>
        <activity
            android:name=".otpverificationpage"
            android:exported="false">
        </activity>
        <activity
            android:name=".profilePage"
            android:exported="false">
        </activity>

    <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>